build/
build2/
build_final/
build_test/
bin/
lib/
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/
out/
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
cmake_install.cmake
Makefile
install_manifest.txt
*.pdb
*.obj
*.exe
*.ilk
*.lib
*.dll
*.so
*.a
*.dylib
